body {
    font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
    padding: 0;
    text-align: left;
    font-size: small;

}
textarea
{
    border:1px solid #999999;
    width:100%;
    margin:5px 0;
    padding:3px;
}
select {
    width: 50%;
    font-size: 120%;
    padding: 1px;
    background-color: #e6e6e6;
}
input{
    border-top: 1px solid #7c7c7c;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #ddd;
}
table{
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
    width: 100%;
    text-align: center;
    padding: 4px 6px;
}
th{
    text-align: left;
    padding-left: 10px;
}
td {
    padding: 12px;
    font-size: 85%;
    color: #565656;
}
th, td{
    border: 1px solid #dedede;
}

tr:nth-child(odd) {
    background: #e6e6e6;
}